<div class="container d-flex justify-content-center align-items-center vh-100">
  <div
    class="card justify-content-center align-items-center p-4"
    style="background-color: #dbe7fc; width: 100%; max-width: 300px;"
  >
    <form [formGroup]="form" class="w-100">
      <!-- Mensaje de campos obligatorios -->
      <p class="text-secondary mb-3" style="font-size: 12px;">Todos los campos son obligatorios</p>

      <!-- Grilla para el formulario -->
      <div class="row g-3">
        <!-- Tipo de documento -->
        <div class="col-12">
          <label for="documentType" class="form-label" style="color: #022D77; font-size: 12px;">Tipo de documento</label>
          <select 
            class="form-select"
            id="documentType"
            formControlName="documentType"
            style="border: 1px solid gray;"
          >
            <option value="" selected>Seleccione...</option>
            <option value="C">Cédula de Ciudadanía</option>
            <option value="P">Pasaporte</option>
          </select>
        </div>

        <!-- Número de documento -->
        <div class="col-12">
          <label for="document" class="form-label" style="color: #022D77; font-size: 12px;">Número de documento</label>
          <input
            type="text"
            id="document"
            name="document"
            class="form-control"
            aria-label="Número de documento"
            formControlName="document"
            style="border: 1px solid gray;"
          />
        </div>

        <!-- Alerta -->
        <div class="col-12">
          <div *ngIf="showAlert" class="alert alert-danger p-2" role="alert">
            Usuario no encontrado
          </div>
        </div>

        <!-- Botón Buscar -->
        <div class="col-12">
          <button
            type="button"
            [ngStyle]="{
              'background-color': form.invalid ? 'white' : '#022D77',
              'color': form.invalid ? 'gray' : 'white',
              'border': '1px solid gray',
              'height': '45px'
            }"
            class="btn btn-primary rounded-pill w-100"
            (click)="btnBuscar()"
            [disabled]="form.invalid"
          >
            Buscar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
