<div class="flex justify-content-center align-items-center">
  <div
    class="card justify-content-center align-items-center position-absolute top-50 start-50 translate-middle w-25 bg-transparent"
  >
    <form class="flex align-items-center" [formGroup]="form">
      <div class="m-5 p-5">
        <div>
          <label for="documentType" class="form-label text-primary">Tipo de documento</label>
          <div class="input-group mb-3">
            <select 
              class="form-select" 
              id="documentType"
              formControlName="documentType"
              >
              <option value="" selected>Seleccione...</option>
              <option value="C">Cédula de Ciudadanía</option>
              <option value="P">Pasaporte</option>
            </select>
          </div>
        </div>
        <div>
          <div class="mb-3">
            <label for="document" class="form-label text-primary">Número de documento</label>
            <div class="input-group mb-3">
              <input
                type="text"
                id="document"
                name="document"
                class="form-control"
                aria-label="Número de documento"
                formControlName="document"
                />
                <!-- (input)="formatAmount()" -->
            </div>
          </div>
        </div>

        <div *ngIf="showAlert" class="alert alert-danger" role="alert">
          Ussuario no encontrado
        </div>

        <div class="d-grid gap-1">
          <button
            type="button"
            class="btn btn-primary rounded-pill .bg-primary-subtle"
            (click)="btnBuscar()"
            [disabled]="form.invalid">
            Buscar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
