<div
  class="card justify-content-left align-items-left position-absolute top-50 start-50 translate-middle w-25 bg-transparent"
>
  <form [formGroup]="form" class="flex aling-items-left">
    <div class="m-5 p-5">
      <div>
        <p class="fs-4 text-black py-3">Informacion Basica</p>
      </div>
      <div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-primary"
            >Prmer Apellido</label
          >
          <div class="input-group mb-3">
            <input
              id="lastName"
              type="text"
              class="form-control disabled"
              aria-label="Amount (to the nearest dollar)"
              formControlName="lastName"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-primary"
            >Primer Nombre</label
          >
          <div class="input-group mb-3">
            <input
              id="firstName"
              type="text"
              class="form-control disabled"
              aria-label="Amount (to the nearest dollar)"
              formControlName="firstName"
            />
          </div>
        </div>
        <button
          type="button"
          class="btn btn-link flex justify-content-center align-items-center"
          (click)="btnAtras()"
        >
          Volver
        </button>
      </div>
    </div>
  </form>
</div>
