<div
  class="card justify-content-center align-items-center position-absolute top-50 start-50 translate-middle p-5"
  style="background-color: #dbe7fc;"    
>
  <form [formGroup]="form" class="flex aling-items-left" style="width: 100%;">
    <div class="">
      <div>
        <p class="fs-4 text-black py-3 text-secondary">Informacion Basica</p>
      </div>
      <div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-secondary" style=" font-size:12px"
            >Prmer Apellido</label
          >
          <div class="input-group mb-3">
            <input
              id="lastName"
              type="text"
              class="form-control disabled"
              aria-label="Amount (to the nearest dollar)"
              formControlName="lastName"
              style="color: gray; border:1px solid gray"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-secondary" style="font-size:12px"
            >Primer Nombre</label
          >
          <div class="input-group mb-3">
            <input
              id="firstName"
              type="text"
              class="form-control disabled"
              aria-label="Amount (to the nearest dollar)"
              formControlName="firstName"
              style="color: gray; border:1px solid gray"
            />
          </div>
        </div>
        <button
          type="button"
          class="btn btn-link flex justify-content-center align-items-center"
          (click)="btnAtras()"
        >
          Volver
        </button>
      </div>
    </div>
  </form>
</div>
